.popup {
    & {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        @extend %flex-c;
    }

    &__wrapper {
        & {
            width: 600px;
            padding: 3rem;
            background: $white;
            @extend %rounded;
        }
    }
}
