<?php

return [
    'driver'      => 'mysql',
    'host'        => 'localhost',
    'port'        => '3306',
    'name'        => 'name',
    'username'    => 'username',
    'password'    => 'password',
    'pdo_options' => [
        PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
        PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC
    ],
];
